@model IEnumerable<ContactManager.Models.ContactsUni2>
@using System.Linq;
@using System.Data.Entity;

@{
    ViewBag.Title = "Index";
}

<h2>Contacts Unified</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact.ContactId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact.CompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.CompanyCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company.CompanyArea)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            for (int i = 0; i < item.Contacts.Count; i++)
            {
                <tr>
                    <td>
                        @item.Contacts[i].ContactId
                    </td>
                    <td>
                        @item.Contacts[i].Name
                    </td>
                    <td>
                        @item.Contacts[i].Address
                    </td>
                    <td>
                        @item.Contacts[i].Zip
                    </td>
                    <td>
                        @item.Contacts[i].Email
                    </td>
                    <td>
                        @item.Contacts[i].CompanyId
                    </td>
                    <td>
                        @item.Companies[i].CompanyName
                    </td>
                    <td>
                        @item.Companies[i].CompanyCity
                    </td>
                    <td>
                        @item.Companies[i].CompanyArea
                    </td>
                    </tr>
                if (item.Contattis[i].ContattoID == item.Contacts[i].ContactId)
                {
                    <tr>
                        <td>
                            @item.Contattis[i].ContattoID
                        </td>
                        <td>
                            @item.Contattis[i].Nome
                        </td>
                        <td>
                            @item.Contattis[i].Citta
                        </td>
                        <td>
                            @item.Contattis[i].CodicePostale
                        </td>
                        <td>
                            @item.Contattis[i].Email
                        </td>
                </tr>
                }


            }
        }

    </table>

</body>
</html>
